<div class="appointment-list">
  <app-appointment-search (searchTermChange)="searchTerm = $event; filterAppointments()" (selectedStatusChange)="selectedStatus = $event; filterAppointments()"></app-appointment-search>

  <ul id="appointment-list" aria-live="polite">
    <li *ngIf="filteredAppointments.length === 0">No appointments found</li>
    <li *ngFor="let appointment of filteredAppointments">
      <app-appointment-card [appointment]="appointment"></app-appointment-card>
    </li>
  </ul>
</div>