.patient-detail-view {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 16px auto;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  h2 {
    font-size: 1.5em;
    margin-bottom: 16px;
  }

  .tabs {
      margin-top: 20px;
  }

  .tab {
      cursor: pointer;
      padding: 10px;
      background-color: #f1f1f1;
      border: 1px solid #ccc;
      margin-bottom: 5px;
  }

  .tab-content {
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.3s ease-out;
  }

  .tab-content.expanded {
      // No need to set max-height here, it will be set dynamically
  }

  .button-group {
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;
      margin-bottom: 10px;
      gap:10px;


      .btn-primary {
          background-color: #1ea7fd;
          color: #fff;
          padding: 10px 20px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          font-size: 16px;
          transition: background-color 0.3s ease;

          &:hover {
              background-color: #166bb3;
          }
      }

    .btn-secondary {
        background-color: #6c757d;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #5a6268;
        }
    }
  }

  .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0,0.4);
      padding-top: 60px;

      &.show {
          display: block;
      }

      .modal-content {
        background-color: #fefefe;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 600px; /* Ensure the modal is not too wide */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 8px; /* Add border radius for better aesthetics */
      }

      .close {
          color: #aaa;
          float: right;
          font-size: 28px;
          font-weight: bold;

          &:hover,
          &:focus {
              color: black;
              text-decoration: none;
              cursor: pointer;
          }
      }
  }
}