<div class="patient-detail-view" role="region" aria-labelledby="patient-detail-heading">
    <h2 id="patient-detail-heading">{{ patient.name }}</h2>
    <div class="patient-details">
      <!-- Patient details content -->
    </div>
    <app-patient-history-timeline [history]="history"></app-patient-history-timeline>
    <app-patient-notes [notes]="notes"></app-patient-notes>

    <!-- Sectional Tabs -->
    <div class="tabs">
        <div class="tab" (click)="toggleSection('appointments')">
            <h3>Appointments</h3>
        </div>
        <div class="tab-content appointments" [ngClass]="{'expanded': isSectionExpanded('appointments')}">
            <button class="toggle-view-btn" (click)="toggleAppointmentView()">
                {{ isCalendarView ? 'Switch to List View' : 'Switch to Calendar View' }}
            </button>
            <app-appointment-list *ngIf="isSectionExpanded('appointments') && !isCalendarView" [appointments]="appointments_list"></app-appointment-list>
            <app-appointment-calendar *ngIf="isSectionExpanded('appointments') && isCalendarView" [appointments_calendar]="appointments_calendar"></app-appointment-calendar>
        </div>
        <div class="tab" (click)="toggleSection('medications')">
            <h3>Medications</h3>
        </div>
        <div class="tab-content medications" [ngClass]="{'expanded': isSectionExpanded('medications')}">
            <app-patient-medication-list *ngIf="isSectionExpanded('medications')" [medications]="medications"></app-patient-medication-list>
        </div>

        <div class="tab" (click)="toggleSection('allergies')">
            <h3>Allergies</h3>
        </div>
        <div class="tab-content allergies" [ngClass]="{'expanded': isSectionExpanded('allergies')}">
            <app-patient-allergy-list *ngIf="isSectionExpanded('allergies')" [allergies]="allergies"></app-patient-allergy-list>
        </div>


    </div>
</div>