.patient-detail-view {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 16px auto;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  h2 {
    font-size: 1.5em;
    margin-bottom: 16px;
  }

  .patient-details {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px 16px;
    margin-bottom: 16px;

    &__label {
      font-weight: bold;
    }

    &__value {
      a {
        color: #1ea7fd;
        text-decoration: none;
      }
    }
  }
}
